.button-wrap
{
    padding: 20px;
    display: flex;
    
}

.button{
    padding: 10px;
    color: white;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color .3s;
}

.button-light{
    background-color: #5C78E6;
}

.button-dark{
    background-color: rgb(20, 30, 45);
    color: rgb(200,200,200);
}

.button-light:hover{
    background: #4864D2;
}

.button-dark:hover{
    background-color: rgb(10, 20, 30);
}