#toolswrap{
    position: relative;
    display: flex;
    height: 100%;
}

.toolswrap-light{
    background-color: #5C78E6;
}

.toolswrap-dark{
    background-color: rgb(30, 40, 50);
}

#toolslist{
    position: relative;
    overflow: auto;
    display: flex;
    flex-flow: column;
    max-width: 400px;

}

#toolslist::-webkit-scrollbar { width: 0; }

#tools{
    position: relative;
    max-height: 100%;
    display: flex;
}

.buttonWrap{
    display: flex;
    flex-wrap: wrap;
   
}

